<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
</head>
<body class="pl-5">
    {% include "navbar.html" %}
    {% for e in entries %}
    <div class="rounded-md inline-block border-1 mr-5 mt-5 pl-5 pt-5 pr-5 h-100">
        <a href={{e[4]}}><img class="w-55 h-50" src={{e[1]}}></a>
        <div class="pt-1 pb-1 h-8 font-bold">{{e[3]}}<img class="relative scale-50 -top-7.75 -right-5" src="{{url_for('static', filename='star.png')}}"></div>
        <a href={{e[4]}}><div class="max-w-55 max-h-19 static overflow-hidden hover:bold hover:underline hover:underline-offset-2" >{{e[0]}}</div></a>
        <div class="pt-1 font-bold">{{e[2]}}</div>
    </div>
    {%endfor%}
</body>
</html>