<!doctype html>
<html>
<head>
    <title>Home page</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <h1>Welcome to College Essentials</h1>
        <p>Your one-stop shop for all your college needs!</p>
        <p>Use the navigation bar to explore our shop and checklist features.</p>
        <br>
        <br>
        <h1>About Us</h1>
        <p>We are dedicated to providing college students with the essential items they need for a successful academic experience.</p>
        <p>Use our convenient checklist and search engine system to cover all your academic needs.</p>
    </body>
</html>